# all ignore by default
/*
/.**

# gitignore
!/.gitignore

# install script
!/install.sh

# readme
!/README.md

# github
!/.github/
!/.github/**/*

# shell scripts
!/.bin/
!/.bin/**/*
!/bin/
!/bin/**/*

# home dir
## zsh
!/.zprofile
!/.zshrc
!/.zshenv
## tmux
!/.tmux.conf
## git
!/.gitconfig
## asdf
!/.default-gems
!/.default-go-packages
!/.default-npm-packages
!/.default-python-packages

# config dir
!/.config/
## mise
!/.config/mise/
!/.config/mise/**/*
## neomutt
!/.config/neomutt/
!/.config/neomutt/**/*
## neovim
!/.config/nvim/
!/.config/nvim/init.lua
!/.config/nvim/lua/
!/.config/nvim/lua/**/*
!/.config/nvim/ftplugin/
!/.config/nvim/ftplugin/**/*
## ranger
!/.config/ranger/
!/.config/ranger/**/*

# ruby gems
!/Gemfile
