# all ignore by default
/*
/.**

# gitignore
!/.gitignore

# install script
!/install.sh

# readme
!/README.md

# github
!/.github/
!/.github/**/*

# shell scripts
!/.bin/
!/.bin/**/*
!/bin/
!/bin/**/*

# home dir
## zsh
!/.zprofile
!/.zshrc
!/.zshenv
## tmux
!/.tmux.conf
## git
!/.gitconfig
## ni
!/.nirc
## asdf
!/.default-gems
!/.default-go-packages
!/.default-npm-packages
!/.default-python-packages
!/.gemini/
!/.gemini/settings.json

# config dir
!/.config/
## mise
!/.config/mise/
!/.config/mise/**/*
## neomutt
!/.config/neomutt/
!/.config/neomutt/**/*
## neovim
!/.config/nvim/
!/.config/nvim/init.lua
!/.config/nvim/lua/
!/.config/nvim/lua/**/*
!/.config/nvim/ftplugin/
!/.config/nvim/ftplugin/**/*
## yazi
!/.config/yazi/
!/.config/yazi/init.lua
!/.config/yazi/keymap.toml
!/.config/yazi/theme.toml
!/.config/yazi/yazi.toml
## irb
!/.config/irb/
!/.config/irb/irbrc

# packages
## php composer
!/composer.json
## ruby gems
!/Gemfile
