[user]
    email = caramelamcha@gmail.com
    name = lamt
[credential]
    helper = /usr/lib/git-core/git-credential-libsecret
[core]
    editor = nvim
    pager = delta
[color]
    ui = auto
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    dark = true
    side-by-side = true
    line-numbers = true
[merge]
    tool = vimdiff
    conflictstyle = zdiff3
[mergetool]
    prompt = false
    keepBack = false
[push]
    autoSetupRemote = true
[alias]
    f = fetch origin
    p = pull
    s = status
    ss = status -s
    d = diff
    l = log --oneline -10
    ll = log --oneline -20
    lll = log --onelline -30
    br = branch
    co = checkout
    sw = switch
    ad = add -A
    cm = commit -m
    ph = push
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

